<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <th class="Title" bgcolor="${tableHeaderBackColor}" align="left" width=500>buildHeaderInfo.toString()</th>
    <th class="Title" bgcolor="${tableHeaderBackColor}" align="center" width=90>OS</th>
    <th class="Title" bgcolor="${tableHeaderBackColor}" align="center" width=90>Type</th>
    <th class="Title" bgcolor="${tableHeaderBackColor}" align="center" width=90>Size</th>
    <th class="Title" bgcolor="${tableHeaderBackColor}" align="center" width=90>Checksums&nbsp;</th>
  </tr>

#foreach ($file in $files )
  <tr>
    <td class="Item" align="left"><a href="${file.path}">${file.name}</a></td>
    <td class="Item" align="center">${osName}</td>
    <td class="Item" align="center">${fileType}</td>
    <td class="Item" align="center">${fileSize}</td>
    <td class="Item" align="center"><a href="${checksumsUrl}">sums</a></td>
  </tr>
#end

</table>
