#foreach ( $library in $libraries )
library(identifier: '$library', changelog: false)
#end

Map defaultParams = [
  SLAVE_NODE_LABEL    : '$properties.getString('SLAVE_NODE_LABEL')',
  WORKSPACE           : '$properties.getString('WORKSPACE')',
  BUILD_DATA_ROOT_PATH: '$properties.getString('BUILD_DATA_ROOT_PATH')',
  BUILD_DATA_FILE     : '$properties.getString('BUILD_DATA_FILE')',
  RUN_CHECKOUTS       : $properties.getBool('RUN_CHECKOUTS'),
  RUN_BUILDS          : $properties.getBool('RUN_BUILDS'),
  RUN_AUDIT           : $properties.getBool('RUN_AUDIT'),
  OVERRIDE_PARAMS     : [:],
  OVERRIDE_JOB_PARAMS : [:]
]

node(params.SLAVE_NODE_LABEL ?: defaultParams.SLAVE_NODE_LABEL) {
  timestamps {
    config.stage(defaultParams)

    catchError {
      timeout(config.get().timeout) {
        checkoutStage()
        buildStage2()
        audit()
      }
    }

    reportStage()

    if (config.get().isPullRequest()) {
      stage('Cleanup') {
        clean.checkouts(false)
      }
    }
  }
}